.cards {
  display: flex;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 25px auto;
  padding: 20px;
  max-width: 900px;
  transition: 0.3s;
}

.cards:hover {
  transform: translateY(-3px);
}

.card-esquerda img {
  width: 250px;
  height: 230px;
  border-radius: 12px;
  object-fit: cover;
}

.card-direita {
  flex: 1;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info-e-tarefas {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.info-pet {
  flex: 1;
}

.tarefas-lado {
  width: 45%;
  background-color: #f9fafb;
  border-radius: 12px;
  padding: 12px 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.botoes-card {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.btn-avaliar {
  background-color: #3e5c76;
  color: #f0ebd8;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-editar {
  background-color: #748cab;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-excluir {
  background-color: #d33;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-excluir:hover { background-color: #ff4c4c; }
.btn-editar:hover { background-color: #5f7b9d; }
.btn-avaliar:hover { background-color: #536b8a; }
