.cards {
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 25px auto;
  padding: 20px;
  max-width: 850px;
  display: flex;
  gap: 25px;
  transition: all 0.3s ease;
}

.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.divpet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards img {
  width: 320px;
  height: 280px;
  object-fit: cover;
  border-radius: 14px;
}

.cards h3 {
  margin: 0;
  font-size: 1.7rem;
  color: #1d2d44;
  font-weight: 700;
}

.cards h4 {
  margin: 8px 0;
  color: #3e5c76;
  font-weight: 600;
  font-size: 1rem;
}

.p-desc {
  color: #333;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.btn-avaliar {
  background-color: #3e5c76;
  color: #f0ebd8;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-avaliar:hover {
  background-color: #748cab;
  color: #1d2d44;
}

/* .estrelas-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
} */

/* .divnew {
  margin-bottom: 10px;
} */

.new {
  width: 610px;
  height: 100px; 

}
