header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #3e5c76 0%, #1d2d44 100%);
  color: #f0ebd8;
  padding: 10px 20px;
  border-radius: 12px 12px 0 0;
  justify-content:space-around;
}

.divHeader {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.logoImage {
  width: 80px;
  float: left;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: #f0ebd8;
}

header h2 {
  margin: 0 0 0 0;
  font-style: italic;
  color: #d8dee9;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #1d2d44;
  padding: 10px;
  border-radius: 0 0 12px 12px;
}

.links {
  color: #f0ebd8;
  text-decoration: none;
  font-weight: 600;
  margin: 0 12px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.links:hover {
  background-color: #748cab;
  color: #0d1321;
}
